body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	text-align: center;
	background:-webkit-radial-gradient(
		#407BA0,
		#214154,
		#13242F
	);
}

.nubes, .mapa {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.nubes {
	width: 500px;
	height: 500px;
}

.nubes img {
	position: relative;
	z-index: 20;
}

.mapa {
	width: 375px;
	height: 375px;
	/*background: lightblue; */
	border-radius: 50%;
	box-shadow: -70px -30px 0 0 rgba(0, 0, 0, .1) inset,
				-150px -50px 0 0 rgba(0, 0, 0, .1) inset,
				5px 5px 0 0 rgba(255, 255, 255, .2) inset;
	background: url(../img/mapa_girando.png);
	background-size: cover;
	-webkit-animation: tierra-girando 5s infinite linear;
}

@-webkit-keyframes tierra-girando {
	from {
		background-position: left center;
	}
	to {
		background-position: -550px center;
	}
}

/* Estrellas */

.estrella {
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
}

.primera {
	top: 10%;
	left: 50%;
}

.segunda {
	top: 30%;
	left: 30%;
}

.tercera {
	top: 90%;
	left: 90%;
}

.cuarta {
	top: 80%;
	left: 20%;
}

.quinta {
	top: 30%;
	left: 80%;
}

.sexta {
	top: 70%;
	left: 80%;
}

.septima {
	top: 80%;
	left: 50%;
}

.octava {
	top: 35%;
	left: 10%;
}

.novena {
	top: 60%;
	left: 20%;
}

.decima {
	top: 10%;
	left: 10%;
}

/* Otra forma de manejar las estrellas
.estrella: nth-child(2) {;
	top:  5%;
	left: 30%;
}
E ir variando el nth-child
*/

.estrella:nth-child(2n) {
	-webkit-animation: estrella-par 2s infinite;
}

@-webkit-keyframes estrella-par {
	0% , 90% {
		box-shadow: 0 0 3px 3px rgba(255, 255, 255, .3);
	}
	100% {
		box-shadow: 0 0 16px 16px rgba(255, 255, 255, .3);
	}
}

.estrella:nth-child(2n+1) {
	-webkit-animation: estrella-impar 2s infinite;
}

@-webkit-keyframes estrella-impar {
	0% , 35%, 50% {
		box-shadow: 0 0 3px 3px rgba(255, 255, 255, .3);
	}
	45% {
		box-shadow: 0 0 16px 16px rgba(255, 255, 255, .3);
	}
}